.halfbreak {
    display: block;
    content: "";
    margin-top: 0.5em;
}

.negative {
    display: inline;
    color: red;
    font-style: italic;
}

.positive {
    display: inline;
    color: green;
}

div {
    display: inline;
}

input[type=text], textarea {
    font-family: Arial, sans-serif;
    border: 1px solid-black;
    margin: 0;
    padding: 0;
    font-size: 80%;
    width: 30em;
}
